In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
covid_deaths = pd.read_csv('data/Deaths.csv')

In [3]:
today_date = datetime.now().strftime('%m/%d/%y').lstrip("0").replace(" 0", " ")
today_date

'3/23/20'

In [4]:
covid_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,22,22,27,29,29,29,33,35,40,40.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,2,2,2,3,4,10,10.0

In [5]:
country_locations = covid_deaths[['Country/Region', 'Lat', 'Long']]
country_locations

            Country/Region      Lat      Long
0                 Thailand  15.0000  101.0000
1                    Japan  36.0000  138.0000
2                Singapore   1.2833  103.8333
3                    Nepal  28.1667   84.2500
4                 Malaysia   2.5000  112.5000
..                     ...      ...       ...
496                 Jersey  49.1900   -2.1100
497            Puerto Rico  18.2000  -66.5000
498  Republic of the Congo  -1.4400   15.5560
499            The Bahamas  24.2500  -76.0000
500             The Gambia  13.4667  -16.6000

[501 rows x 3 columns]

In [6]:
current_totals = covid_deaths[['Country/Region', today_date]]
current_totals

            Country/Region  3/23/20
0                 Thailand      1.0
1                    Japan     40.0
2                Singapore      2.0
3                    Nepal      0.0
4                 Malaysia     10.0
..                     ...      ...
496                 Jersey      0.0
497            Puerto Rico      1.0
498  Republic of the Congo      0.0
499            The Bahamas      0.0
500             The Gambia      0.0

[501 rows x 2 columns]

In [7]:
countries_set = set(current_totals['Country/Region'])
country_totals = {'Country': list(countries_set), 'Total': []} 
for country in countries_set:
    df = current_totals[current_totals['Country/Region'] == country]
    country_totals['Total'].append(df[today_date].sum())
country_totals = pd.DataFrame(country_totals)
country_totals = country_totals.set_index('Country')
country_totals

              Total
Country
Luxembourg      8.0
Canada         21.0
Guadeloupe      0.0
Liberia         0.0
Singapore       2.0
...             ...
Philippines    25.0
China        3274.0
Zimbabwe        0.0
East Timor      0.0
Thailand        1.0

[183 rows x 1 columns]

In [8]:
populations = pd.read_csv('data/TotalPopulationBySex.csv')
populations = populations[populations["Time"] == 2020]
populations.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
70,4,Afghanistan,2,Medium,2020,2020.5,19976.265,18952.076,38928.341,59.627
151,4,Afghanistan,3,High,2020,2020.5,19976.265,18952.076,38928.341,59.627
232,4,Afghanistan,4,Low,2020,2020.5,19976.265,18952.076,38928.341,59.627
313,4,Afghanistan,5,Constant fertility,2020,2020.5,19976.265,18952.076,38928.341,59.627
394,4,Afghanistan,6,Instant replacement,2020,2020.5,19976.265,18952.076,38928.341,59.627

In [9]:
countries_a = list(country_totals.index)
countries_b = populations['Location'].unique()

shared = [country_name for country_name in countries_a if country_name in countries_b]
not_shared_a = [country_name for country_name in countries_a if country_name not in countries_b]
not_shared_b = [country_name for country_name in countries_b if country_name not in countries_a]

In [11]:
not_shared_a.sort()
not_shared_a

['Bahamas, The',
 'Bolivia',
 'Brunei',
 'Cape Verde',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 "Cote d'Ivoire",
 'Cruise Ship',
 'East Timor',
 'Gambia, The',
 'Guernsey',
 'Iran',
 'Jersey',
 'Korea, South',
 'Kosovo',
 'Moldova',
 'Republic of the Congo',
 'Reunion',
 'Russia',
 'Syria',
 'Taiwan*',
 'Tanzania',
 'The Bahamas',
 'The Gambia',
 'US',
 'Venezuela',
 'Vietnam']

In [12]:
not_shared_b.sort()
not_shared_b

['Africa',
 'African Group',
 'African Union',
 'African Union: Central Africa',
 'African Union: Eastern Africa',
 'African Union: Northern Africa',
 'African Union: Southern Africa',
 'African Union: Western Africa',
 'African, Caribbean and Pacific (ACP) Group of States',
 'American Samoa',
 'Andean Community',
 'Anguilla',
 'Aruba',
 'Asia',
 'Asia-Pacific Economic Cooperation (APEC)',
 'Asia-Pacific Group',
 'Association of Southeast Asian Nations (ASEAN)',
 'Australia/New Zealand',
 'BRIC',
 'BRICS',
 'Bahamas',
 'Belize',
 'Belt-Road Initiative (BRI)',
 'Belt-Road Initiative: Africa',
 'Belt-Road Initiative: Asia',
 'Belt-Road Initiative: Europe',
 'Belt-Road Initiative: Latin America and the Caribbean',
 'Belt-Road Initiative: Pacific',
 'Bermuda',
 'Black Sea Economic Cooperation (BSEC)',
 'Bolivarian Alliance for the Americas (ALBA)',
 'Bolivia (Plurinational State of)',
 'Bonaire, Sint Eustatius and Saba',
 'Botswana',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Burundi',
 'Caribbean',
 'Caribbean Community and Common Market (CARICOM)',
 'Cayman Islands',
 'Central America',
 'Central Asia',
 'Central European Free Trade Agreement (CEFTA)',
 'Central and Southern Asia',
 'Channel Islands',
 'China (and dependencies)',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'China, Taiwan Province of China',
 'Commonwealth of Independent States (CIS)',
 'Commonwealth of Nations',
 'Commonwealth: Africa',
 'Commonwealth: Asia',
 'Commonwealth: Caribbean and Americas',
 'Commonwealth: Europe',
 'Commonwealth: Pacific',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Countries with Access to the Sea',
 'Countries with Access to the Sea: Africa',
 'Countries with Access to the Sea: Asia',
 'Countries with Access to the Sea: Europe',
 'Countries with Access to the Sea: Latin America and the Caribbean',
 'Countries with Access to the Sea: Northern America',
 'Countries with Access to the Sea: Oceania',
 'CuraÃ§ao',
 "CÃ´te d'Ivoire",
 "Dem. People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark (and dependencies)',
 'ECE: North America-2',
 'ECE: UNECE-52',
 'ECLAC: Latin America',
 'ECLAC: The Caribbean',
 'ESCAP region: East and North-East Asia',
 'ESCAP region: North and Central Asia',
 'ESCAP region: Pacific',
 'ESCAP region: South and South-West Asia',
 'ESCAP region: South-East Asia',
 'ESCAP: ADB Developing member countries (DMCs)',
 'ESCAP: ADB Group A (Concessional assistance\xa0only)',
 'ESCAP: ADB Group B\xa0(OCR blend)',
 'ESCAP: ADB Group C (Regular OCR only)',
 'ESCAP: ASEAN',
 'ESCAP: Central Asia',
 'ESCAP: ECO',
 'ESCAP: HDI groups',
 'ESCAP: Landlocked countries (LLDCs)',
 'ESCAP: Least Developed Countries (LDCs)',
 'ESCAP: Pacific island dev. econ.',
 'ESCAP: SAARC',
 'ESCAP: WB High income econ.',
 'ESCAP: WB Low income econ.',
 'ESCAP: WB Lower middle income econ.',
 'ESCAP: WB Upper middle income econ.',
 'ESCAP: WB income groups',
 'ESCAP: high HDI',
 'ESCAP: high income',
 'ESCAP: income groups',
 'ESCAP: low HDI',
 'ESCAP: low income',
 'ESCAP: lower middle HDI',
 'ESCAP: lower middle income',
 'ESCAP: other Asia-Pacific countries/areas',
 'ESCAP: upper middle HDI',
 'ESCAP: upper middle income',
 'ESCWA: Arab countries',
 'ESCWA: Arab least developed countries',
 'ESCWA: Gulf Cooperation Council countries',
 'ESCWA: Maghreb countries',
 'ESCWA: Mashreq countries',
 'ESCWA: member countries',
 'East African Community (EAC)',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Eastern European Group',
 'Eastern and South-Eastern Asia',
 'Economic Community of Central African States (ECCAS)',
 'Economic Community of West African States (ECOWAS)',
 'Economic Cooperation Organization (ECO)',
 'Eurasian Economic Community (Eurasec)',
 'Europe',
 'Europe (48)',
 'Europe and Northern America',
 'European Community (EC: 12)',
 'European Free Trade Agreement (EFTA)',
 'European Union (EU: 15)',
 'European Union (EU: 28)',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'France (and dependencies)',
 'French Polynesia',
 'Gambia',
 'Gibraltar',
 'Greater Arab Free Trade Area (GAFTA)',
 'Group of 77 (G77)',
 'Group of Eight (G8)',
 'Group of Seven (G7)',
 'Group of Twenty (G20) - member states',
 'Guinea-Bissau',
 'Gulf Cooperation Council (GCC)',
 'High-income countries',
 'Iran (Islamic Republic of)',
 'Isle of Man',
 'Kiribati',
 'LLDC: Africa',
 'LLDC: Asia',
 'LLDC: Europe',
 'LLDC: Latin America',
 'Land-locked Countries',
 'Land-locked Countries (Others)',
 'Land-locked Developing Countries (LLDC)',
 "Lao People's Democratic Republic",
 'Latin America and the Caribbean',
 'Latin American Integration Association (ALADI)',
 'Latin American and Caribbean Group (GRULAC)',
 'League of Arab States (LAS, informal name: Arab League)',
 'Least developed countries',
 'Least developed: Africa',
 'Least developed: Asia',
 'Least developed: Latin America and the Caribbean',
 'Least developed: Oceania',
 'Lesotho',
 'Less developed regions',
 'Less developed regions, excluding China',
 'Less developed regions, excluding least developed countries',
 'Less developed: Africa',
 'Less developed: Asia',
 'Less developed: Latin America and the Caribbean',
 'Less developed: Oceania',
 'Libya',
 'Low-income countries',
 'Lower-middle-income countries',
 'Malawi',
 'Mali',
 'Marshall Islands',
 'Melanesia',
 'Micronesia',
 'Micronesia (Fed. States of)',
 'Middle Africa',
 'Middle-income countries',
 'Montserrat',
 'More developed regions',
 'More developed: Asia',
 'More developed: Europe',
 'More developed: Northern America',
 'More developed: Oceania',
 'Myanmar',
 'Nauru',
 'Netherlands (and dependencies)',
 'New Caledonia',
 'New EU member states (joined since 2004)',
 'New Zealand (and dependencies)',
 'Niue',
 'No income group available',
 'Non-Self-Governing Territories',
 'North American Free Trade Agreement (NAFTA)',
 'North Atlantic Treaty Organization (NATO)',
 'Northern Africa',
 'Northern Africa and Western Asia',
 'Northern America',
 'Northern Europe',
 'Northern Mariana Islands',
 'Oceania',
 'Oceania (excluding Australia and New Zealand)',
 'Organisation for Economic Co-operation and Development (OECD)',
 'Organization for Security and Co-operation in Europe (OSCE)',
 'Organization of American States (OAS)',
 'Organization of Petroleum Exporting countries (OPEC)',
 'Organization of the Islamic Conference (OIC)',
 'Palau',
 'Polynesia',
 'Republic of Korea',
 'Republic of Moldova',
 'Russian Federation',
 'RÃ©union',
 'SIDS Atlantic, and Indian Ocean, Mediterranean and South China Sea (AIMS)',
 'SIDS Caribbean',
 'SIDS Pacific',
 'Saint BarthÃ©lemy',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Samoa',
 'Sao Tome and Principe',
 'Shanghai Cooperation Organization (SCO)',
 'Sierra Leone',
 'Sint Maarten (Dutch part)',
 'Small Island Developing States (SIDS)',
 'Solomon Islands',
 'South America',
 'South Asian Association for Regional Cooperation (SAARC)',
 'South Sudan',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern African Development Community (SADC)',
 'Southern Asia',
 'Southern Common Market (MERCOSUR)',
 'Southern Europe',
 'State of Palestine',
 'Sub-Saharan Africa',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tokelau',
 'Tonga',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'UN-ECE: member countries',
 'UNFPA Regions',
 'UNFPA: Arab States (AS)',
 'UNFPA: Asia and the Pacific (AP)',
 'UNFPA: East and Southern Africa (ESA)',
 'UNFPA: Eastern Europe and Central Asia (EECA)',
 'UNFPA: Latin America and the Caribbean (LAC)',
 'UNFPA: West and Central Africa (WCA)',
 'UNICEF PROGRAMME REGIONS',
 'UNICEF Programme Regions: East Asia and Pacific (EAPRO)',
 'UNICEF Programme Regions: Eastern Caribbean',
 'UNICEF Programme Regions: Eastern and Southern Africa (ESARO)',
 'UNICEF Programme Regions: Europe and Central Asia (CEECIS)',
 'UNICEF Programme Regions: Latin America',
 'UNICEF Programme Regions: Latin America and Caribbean (LACRO)',
 'UNICEF Programme Regions: Middle East and North Africa (MENARO)',
 'UNICEF Programme Regions: South Asia (ROSA)',
 'UNICEF Programme Regions: West and Central Africa (WCARO)',
 'UNICEF REGIONS',
 'UNICEF Regions: East Asia and Pacific',
 'UNICEF Regions: Eastern Europe and Central Asia',
 'UNICEF Regions: Eastern and Southern Africa',
 'UNICEF Regions: Europe and Central Asia',
 'UNICEF Regions: Latin America and Caribbean',
 'UNICEF Regions: Middle East and North Africa',
 'UNICEF Regions: North America',
 'UNICEF Regions: South Asia',
 'UNICEF Regions: Sub-Saharan Africa',
 'UNICEF Regions: West and Central Africa',
 'UNICEF Regions: Western Europe',
 'UNITED NATIONS Regional Groups of Member States',
 'United Kingdom (and dependencies)',
 'United Nations Economic Commission for Africa (UN-ECA)',
 'United Nations Economic Commission for Latin America and the Caribbean (UN-ECLAC)',
 'United Nations Economic and Social Commission for Asia and the Pacific (UN-ESCAP) Regions',
 'United Nations Member States',
 'United Republic of Tanzania',
 'United States Virgin Islands',
 'United States of America',
 'United States of America (and dependencies)',
 'Upper-middle-income countries',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'WB region: East Asia and Pacific (excluding high income)',
 'WB region: Europe and Central Asia (excluding high income)',
 'WB region: Latin America and Caribbean (excluding high income)',
 'WB region: Middle East and North Africa (excluding high income)',
 'WB region: South Asia (excluding high income)',
 'WB region: Sub-Saharan Africa (excluding high income)',
 'WHO Regions',
 'WHO: African region (AFRO)',
 'WHO: Americas (AMRO)',
 'WHO: Eastern Mediterranean Region (EMRO)',
 'WHO: European Region (EURO)',
 'WHO: South-East Asia region (SEARO)',
 'WHO: Western Pacific region (WPRO)',
 'Wallis and Futuna Islands',
 'West African Economic and Monetary Union (UEMOA)',
 'Western Africa',
 'Western Asia',
 'Western Europe',
 'Western European and Others Group (WEOG)',
 'Western Sahara',
 'World',
 'World Bank Regional Groups (developing only)',
 'Yemen']

In [13]:
spelling_changes = {
    'Bahamas': 'Bahamas, The',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'Brunei Darussalam': 'Brunei',
    'CÃ´te d\'Ivoire': 'Cote d\'Ivoire',
    'Gambia': 'Gambia, The',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'Korea, South',
    'Russian Federation': 'Russia',
    'Syrian Arab Republic': 'Syria',
    'China, Taiwan Province of China': 'Taiwan*',
    'United Republic of Tanzania': 'Tanzania',
    'United States of America': 'US',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Viet Nam': 'Vietnam'
}

In [14]:
current_populations = {'Country': [], 'Population': []}
for country_name in populations['Location'].unique():
    if country_name in spelling_changes.keys():
        key_name = spelling_changes[country_name]
    elif country_name not in shared:
        continue
    else:
        key_name = country_name
    current_populations['Country'].append(key_name)
    current_populations['Population'].append(populations[populations['Location'] == country_name]['PopTotal'].iloc[0]) 
current_populations = pd.DataFrame(current_populations)
current_populations = current_populations.set_index('Country')
current_populations

             Population
Country
Afghanistan   38928.341
Albania        2877.800
Algeria       43851.043
Andorra          77.265
Angola        32866.268
...                 ...
Uzbekistan    33469.199
Venezuela     28435.943
Vietnam       97338.583
Zambia        18383.956
Zimbabwe      14862.927

[170 rows x 1 columns]

In [15]:
country_totals = country_totals.join(current_populations)
country_totals

              Total   Population
Country
Luxembourg      8.0      625.976
Canada         21.0    37742.157
Guadeloupe      0.0      400.127
Liberia         0.0     5057.677
Singapore       2.0     5850.343
...             ...          ...
Philippines    25.0   109581.085
China        3274.0  1439323.774
Zimbabwe        0.0    14862.927
East Timor      0.0          NaN
Thailand        1.0    69799.978

[183 rows x 2 columns]

In [16]:
country_totals['Death rate'] = country_totals['Total'] / country_totals['Population']
country_totals.sort_values(by=['Death rate'], ascending=False).head(20)

                 Total   Population  Death rate
Country
San Marino        20.0       33.938    0.589310
Italy           5476.0    60461.828    0.090570
Spain           1772.0    46754.783    0.037900
Iran            1685.0    83992.953    0.020061
Andorra            1.0       77.265    0.012942
Luxembourg         8.0      625.976    0.012780
Switzerland       98.0     8654.618    0.011323
Netherlands      180.0    17134.873    0.010505
France           674.0    65273.512    0.010326
Belgium           75.0    11589.616    0.006471
Guam               1.0      168.783    0.005925
United Kingdom   282.0    67886.004    0.004154
Iceland            1.0      341.250    0.002930
Martinique         1.0      375.265    0.002665
China           3274.0  1439323.774    0.002275
Denmark           13.0     5792.203    0.002244
Sweden            21.0    10099.270    0.002079
Korea, South     104.0    51269.183    0.002029
Austria           16.0     9006.400    0.001777
Greece            15.0    10423.056    0.001439