## To run directly from the site, this must be opened with Anaconda Navigator NOT in terminal jupyter notebook.

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# compare to direct link to John Hopkins timeset data 
# dataset has CHANGED location as of 3/23/20
data = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
covid = pd.read_csv(data, sep=",")

# preview our data
covid.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,1,1,1,2,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,2,2,2,4,5,5,6,8
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7,9,11,15,17,17,19,21,25,26
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,3,3
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# extra step to copy file
# if we need to take current downloaded data, can put above step in comments
covid_deaths = covid.copy()
covid_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,1,1,1,2,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,2,2,2,4,5,5,6,8
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7,9,11,15,17,17,19,21,25,26
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,3,3
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# check that no columns are NaN
covid_deaths.isna().sum().sum()

173

In [5]:
covid_deaths[['Province/State']] = covid_deaths[['Province/State']].fillna('') 
covid_deaths.fillna(0, inplace=True)

In [6]:
# final check for NaN
covid_deaths.isna().sum().sum()

0

In [7]:
today=datetime.now()
#yesterday = datetime.now() - timedelta(1)
today_date = today.strftime('%m/%d/%y').lstrip("0").replace(" 0", " ")
today_date

'3/28/20'

In [8]:
country_locations = covid_deaths[['Country/Region', 'Lat', 'Long']]
country_locations

            Country/Region        Lat        Long
0              Afghanistan  33.000000   65.000000
1                  Albania  41.153300   20.168300
2                  Algeria  28.033900    1.659600
3                  Andorra  42.506300    1.521800
4                   Angola -11.202700   17.873900
..                     ...        ...         ...
244  Saint Kitts and Nevis  17.357822  -62.782998
245                 Canada  64.825500 -124.845700
246                 Canada  64.282300 -135.000000
247                 Kosovo  42.602636   20.902977
248                  Burma  21.916200   95.956000

[249 rows x 3 columns]

In [9]:
daily_totals = covid_deaths.iloc[:, 4:].max()
daily_totals

1/22/20      17
1/23/20      17
1/24/20      24
1/25/20      40
1/26/20      52
           ...
3/23/20    6077
3/24/20    6820
3/25/20    7503
3/26/20    8215
3/27/20    9134
Length: 66, dtype: int64

In [18]:
covid_deaths_count = daily_totals.max()
covid_deaths_count

9134

In [13]:
current_totals= covid_deaths[['Country/Region',today_date]]
current_totals

KeyError: "['3/28/20'] not in index"

In [ ]:
# checking count of country labels to see if any are duplicated
country_list = covid_deaths['Country/Region'].value_counts()
country_list

In [ ]:
# duplicate countries aggregated
countries_set = set(current_totals['Country/Region'])
country_totals = {'Country': list(countries_set), 'Total': []} 
for country in countries_set:
    df = current_totals[current_totals['Country/Region'] == country]
    country_totals['Total'].append(df[today_date].sum())
country_totals = pd.DataFrame(country_totals)
country_totals = country_totals.set_index('Country')
country_totals

In [ ]:
populations = pd.read_csv('data/TotalPopulationBySex.csv')
populations = populations[populations["Time"] == 2020]
populations.head()

In [ ]:
countries_a = list(country_totals.index)
countries_b = populations['Location'].unique()

shared = [country_name for country_name in countries_a if country_name in countries_b]
not_shared_a = [country_name for country_name in countries_a if country_name not in countries_b]
not_shared_b = [country_name for country_name in countries_b if country_name not in countries_a]

In [ ]:
not_shared_a.sort()
not_shared_a

In [ ]:
not_shared_b.sort()
not_shared_b

In [ ]:
spelling_changes = {
    'Bahamas': 'Bahamas, The',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'Brunei Darussalam': 'Brunei',
    'CÃ´te d\'Ivoire': 'Cote d\'Ivoire',
    'Gambia': 'Gambia, The',
    'Iran (Islamic Republic of)': 'Iran',
    'Republic of Korea': 'Korea, South',
    'Russian Federation': 'Russia',
    'Syrian Arab Republic': 'Syria',
    'China, Taiwan Province of China': 'Taiwan*',
    'United Republic of Tanzania': 'Tanzania',
    'United States of America': 'US',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Viet Nam': 'Vietnam'
}

In [ ]:
current_populations = {'Country': [], 'Population': []}
for country_name in populations['Location'].unique():
    if country_name in spelling_changes.keys():
        key_name = spelling_changes[country_name]
    elif country_name not in shared:
        continue
    else:
        key_name = country_name
    current_populations['Country'].append(key_name)
    current_populations['Population'].append(populations[populations['Location'] == country_name]['PopTotal'].iloc[0]) 
current_populations = pd.DataFrame(current_populations)
current_populations = current_populations.set_index('Country')
current_populations

In [ ]:
country_totals = country_totals.join(current_populations)
country_totals

In [ ]:
country_totals['Death rate'] = country_totals['Total'] / country_totals['Population']
country_totals.sort_values(by=['Death rate'], ascending=False).head(20)

In [ ]:
country_totals['Total'].sum()

## Finding countries that are missing Population Data

In [ ]:
# checking what is missing
country_totals.info()

In [ ]:
country_totals.isna().sum()

In [ ]:
missing = country_totals[(country_totals['Population'].isna())]
missing

In [ ]:
# Deaths total for missing countries
missing['Total'].sum()

In [ ]:
# Reset dataframe to show all columns
country_totals = country_totals.reset_index()

In [ ]:
country_totals

In [ ]:
country_totals['Total'].sum()

In [ ]:
country_totals['Population'].sum()

## Visualizations

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

In [ ]:
data =country_totals.sort_values(by=['Total'], ascending=False).head(10)
sns.barplot(x = "Total", y='Country', data=data)
sns.despine()
plt.xticks(rotation=90)
plt.xlabel('Deaths')
plt.title("Countries With Most Deaths from Coronavirus")
plt.savefig('Current_Deaths.png')

In [ ]:
data =country_totals.sort_values(by=['Death rate'], ascending=False).head(10)
sns.barplot(x = "Death rate", y='Country', data=data)
sns.despine()
plt.xticks(rotation=45)
plt.xlabel('Mortality rate per 1000 people by population')

Note about the tiny countries above:
- San Marina is surrounded by Italy.
- Andorra is on the border of Spain and France.

### Looking at top 20 countries by population

In [ ]:
top_20 =country_totals.sort_values(by=['Population'], ascending=False).head(20)

sns.barplot(x = "Population", y='Country', data=top_20)
sns.despine()
plt.xlabel('Population')
plt.xticks(rotation=45)
plt.title("Top 20 populated countries")

In [ ]:
top_20 =country_totals.sort_values(by=['Population'], ascending=False).head(20)
data =top_20.sort_values(by=['Death rate'], ascending=False).head(10)

sns.barplot(x = "Death rate", y='Country', data=data)
plt.xticks(rotation=45)
plt.xlabel('Mortality rate per 1000 people')
plt.title("Covid-19 - Impact to Top 10 populated countries by Mortality Rate")

## Visualizing on a Map

In [ ]:
covid_deaths[today_date].sum()

In [ ]:
covid_deaths_agg = covid_deaths.groupby('Country/Region').sum().reset_index()
covid_deaths_agg.loc[:, ['Lat', 'Long']] = covid_deaths.groupby('Country/Region').mean().reset_index().loc[:, ['Lat', 'Long']]
covid_deaths_agg

In [ ]:
# filter to cases above 1 death
MIN_CASES = 1
covid_deaths_agg = covid_deaths_agg[covid_deaths_agg.iloc[:, 3:].max(axis=1) >= MIN_CASES]
covid_deaths_agg.head()

In [ ]:
# check country/region
covid_deaths_agg['Country/Region'].value_counts()

In [ ]:
# transpose values for dates using pd.melt
covid_deaths2 = pd.melt(covid_deaths_agg, 
                        id_vars=covid_deaths_agg.iloc[:, :3],
                        var_name="Date",
                        value_vars=covid_deaths_agg.iloc[:, 3:],
                        value_name="Deaths")
print(covid_deaths2.shape)
covid_deaths2.head()

In [ ]:
# today's total deaths
deaths_totals = covid_deaths2[(covid_deaths2['Date'] == today_date)]
deaths_totals

In [ ]:
# check
deaths_totals['Deaths'].sum()

In [ ]:
deaths_totals.sort_values(by='Deaths', ascending=False)

In [ ]:
# Show on map - have to install plotly to show this
import plotly.express as px
fig = px.scatter_geo(covid_deaths2,
                     lat="Lat", lon="Long", color="Country/Region",
                     hover_name="Country/Region", 
                     size="Deaths",
                     size_max=50, animation_frame="Date",
                     template='plotly_dark', projection="natural earth",
                     title="COVID-19 worldwide deaths over time")                    
fig.show()

## Merge files with Population data

In [ ]:
# already read population file 
# need to double check this against UN data
# reset index
current_populations = current_populations.sort_values(by='Population', ascending=False).reset_index()
current_populations

In [ ]:
left = deaths_totals
right = current_populations
df = pd.merge(left, right, 
              how='outer', on=None, 
              left_on="Country/Region", right_on="Country")
df

In [ ]:
df.isna().sum()

In [ ]:
df[df['Deaths'].isna()]

In [ ]:
df.dropna(subset=['Deaths'], inplace=True)
df.isna().sum()

In [ ]:
df.drop(['Country'], axis=1, inplace=True)
df.isna().sum()

In [ ]:
df[df['Population'].isna()]

In [ ]:
df['Deaths'].sum()

## Merge with Other File

In [ ]:
# read in EIU raw_data after running script

EIU = pd.read_csv("test.csv", sep=",")
EIU.head()

In [ ]:
EIU['Country name'].unique()

In [ ]:
EIU[EIU['Country name']=="United States of America"]

In [ ]:
EIU[EIU['Country name']=="China"]

In [ ]:
EIU[EIU['Country name']=="Russia"]

In [ ]:
EIU.sort_values(by="Overall Score", ascending=True).head(15)

In [ ]:
left = df
right = EIU
politics_deaths = pd.merge(left, right, 
              how='outer', on=None, 
              left_on="Country/Region", right_on="Country name")
politics_deaths

In [ ]:
politics_deaths.isna().sum()

In [ ]:
sortA = politics_deaths[politics_deaths['Country name'].isna()]
sortA

In [ ]:
sortA['Country/Region'].unique()

In [ ]:
sortB = politics_deaths[politics_deaths['Country/Region'].isna()]
sortB.head()

In [ ]:
sortB['Country name'].unique()

In [ ]:
replace_names = ['Bosnia and Hercegovina', 'Democratic Republic of Congo', 'Czech Republic',
                 'South Korea', 'Taiwan', 'United States of America']
replace_with = ['Bosnia and Herzegovina', 'Congo (Kinshasa)', 'Czechia',
                'Korea, South', 'Taiwan*', 'US']

replace_dict = {'Bosnia and Hercegovina':'Bosnia and Herzegovina', 
                'Democratic Republic of Congo':'Congo (Kinshasa)', 
                'Czech Republic':'Czechia',
                'South Korea':'Korea, South', 
                'Taiwan':'Taiwan*', 'United States of America':'US'}

In [ ]:
politics_deaths.replace({"Country name": replace_dict},inplace=True)
politics_deaths['Country name'].unique()

In [ ]:
newEIU = EIU.replace({"Country name": replace_dict},inplace=True)

In [ ]:
left = df
right = EIU
pol_deaths = pd.merge(left, right, 
              how='outer', on=None, 
              left_on="Country/Region", right_on="Country name")
pol_deaths.isna().sum()

In [ ]:
pol_deaths[pol_deaths['Country name'].isna()]

In [ ]:
pol_deaths.replace({"Country/Region": ["Andorra", "Diamond Princess", "San Marino"]},{"Country name": ["Andorra", "Diamond Princess", "San Marino"]},inplace=True)

In [ ]:
pol_deaths['Deaths'].sum()

In [ ]:
pol_deaths.isna().sum()

In [ ]:
pol_deaths.dropna(subset=['Deaths'], inplace=True)
pol_deaths.isna().sum()

In [ ]:
pol_deaths.head()

In [ ]:
pol_deaths.sort_values(by=['Deaths'], ascending=False).head(20)

In [ ]:
pol_deaths.sort_values(by=['Deaths'], ascending=False).tail(20)

In [ ]:
rates = pol_deaths.copy()
rates.drop(['Country name'], axis=1, inplace=True)

In [ ]:
rates['MortalityByPopulation'] = rates['Deaths'] / rates['Population']
rates['MortalityByScore'] = rates['Deaths'] / rates['Overall Score']
rates.sort_values(by=['Deaths'], ascending=False).head(20)

In [ ]:
rates.columns

In [ ]:
rates.drop(['Lat','Long','Date', 'Rank'], axis=1, inplace=True)

In [ ]:
rates.drop(['Electoral process and pluralism',
       'Functioning of government', 'Political participation',
       'Political culture', 'Civil liberties',
       'MortalityByScore'], axis=1, inplace=True)

In [ ]:
rates.sort_values(by=['Deaths'], ascending=False).head(20)

In [ ]:
data =rates.sort_values(by=['Deaths'], ascending=False).head(20)
sns.barplot(x = "Deaths", y='Country/Region', data=data)
sns.despine()
plt.xticks(rotation=90)
plt.xlabel('Deaths')
plt.ylabel('Countries')
plt.title("Countries With Most Deaths from Coronavirus")
plt.savefig('Deaths.png')

In [ ]:
sns.barplot(x = "Population", y='Country/Region', data=data)
sns.despine()
plt.xticks(rotation=90)
plt.xlabel('Population')
plt.ylabel('Countries')
plt.title("Countries With Most Deaths from Coronavirus")
plt.savefig('Population.png')

In [ ]:
sns.barplot(x = "Overall Score", y='Country/Region', data=data)
sns.despine()
plt.xticks(rotation=90)
plt.xlabel('Democracy Score')
plt.ylabel('Countries')
plt.title("Countries With Most Deaths from Coronavirus")
plt.savefig('DemocracyScore.png')

In [ ]:
sns.barplot(x = "MortalityByPopulation", y='Country/Region', data=data)
sns.despine()
plt.xticks(rotation=90)
plt.xlabel('Mortality Rate')
plt.ylabel('Countries')
plt.title("Countries With Most Deaths from Coronavirus")
plt.savefig('Mortality.png')